@import "tailwindcss";
html,
body {
  background-color: #020617 !important; /* צבע ה-slate-950 */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes arrowFlow {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.neon-arrow-flow {
  stroke-dasharray: 4000;
  animation: arrowFlow 3s linear infinite;
  /* אפקט זוהר עדין מסביב לקו הזורם */
  filter: drop-shadow(0 0 8px rgba(0, 225, 255, 0.6));
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* העלמת פס הגלילה למחלקת custom-scrollbar */
.custom-scrollbar {
  -ms-overflow-style: none;  /* תמיכה ב-IE ו-Edge */
  scrollbar-width: none;  /* תמיכה ב-Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* תמיכה ב-Chrome, Safari, Opera */
}
